# Logs
logs
*.log
node_modules
node_modules
dist
dist-ssr
.gemini
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local stuff
__pycache__
.trash
.bin
.venv
.pytest_cache
pyrightconfig.json
package-lock.json
plan.md

# Environment files
*secret*
*data*
*.env*
