annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
cffi==2.0.0
cryptography==46.0.7
duckdb==1.5.2
fastapi==0.136.0
gunicorn==25.3.0
idna==3.11
oracledb==3.4.2
packaging==26.1
polars==1.40.0
polars-runtime-32==1.40.0
pyarrow==23.0.1
pycparser==3.0
pydantic==2.13.2
pydantic_core==2.46.2
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
